.about {
    left: 0;
    top: 0;
    padding: 50px 0;
    background-color: var(--color-white);
    position: relative;
    @media (max-width: 670px) {
        padding-bottom: 10px;
    }
    &-title {
        font: var(--high-bold);
        color: var(--color-black);
        font-size: 30px;
        margin: 0;
        padding-left: 40px;
        padding-bottom: 90px;
        @media (max-width: 968px) {
            text-align: center;
            padding-bottom: 30px;
            padding-left: 0px;
        }
    }
    &-title-pink {
        color: var(--color-pink);
    }
    &-list {
        font: var(--middle-regular);
        padding-left: 40px;
        list-style: disc;
    }
    &-item:nth-child(even) {
        color: var(--color-pink);
    }
    &-item {
        padding-bottom: 40px;
        font-size: 24px;
        line-height: 1.5;
    }
    &-item__circle {
        display: none;
        fill: var(--color-pink);
    }
    &-bg {
        position: absolute;
        top: -88px;
        right: 90px;
        height: 700px;
        @media (max-width: 1040px) {
            right: 10px;
        }
        @media (max-width: 968px) {
            display: none;
        }
    }
    &-left {
        position: relative;
       
    }
}

