.footer {
    left: 0;
    top: 0;
    padding-bottom: 60px;
    flex-shrink: 0;
    &-container {
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1200px;
    }
    &-addres {
        display: block;
        margin-bottom: 0;
        font: var(--middle-regular);
        font-size: 22px;
        color: var(--color-white);
        text-align: center;
    }
    &-content {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        @media(max-width: 470px) {
            flex-direction: column;
            align-items: center;
        }
    }
}
.social {
	display: inline-flex;
	align-items: center;
	margin: 0;
    &-item:not(:last-child) {
        margin-right: 11px;
    }
    &-link {
        display: block;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        color: var(--color-pink);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 18px auto;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        border-color: var(--color-pink);
        box-shadow: 0 0 40px 40px var(--color-pink) inset, 0 0 0 0 var(--color-pink);
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
    }
    &-link:hover {
        box-shadow: 0 0 10px 0 var(--color-pink) inset, 0 0 10px 4px var(--color-pink);
    }
    &-logo {
        width: 30px;
        height: 30px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 55%);
        fill: var(--color-white);
    }
}

