.header {
	left: 0;
	top: 0;
	padding: 50px 0 90px;
	width: 100%;
    
    @media (max-width: 670px) {
        padding-bottom: 30px;
    }
    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 670px) {
            display: block;
        }
    }
    &-logo {
        font: var(--high-bold);
        color: var(--color-pink);
        font-size: 48px;
        padding-left: 40px;
        transform: translateY(-10px);
        padding-right: 20px;
        @media (max-width: 860px) {
            transform: translateY(-5px);
        }
        @media (max-width: 670px) {
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }
    }
    &-content {
        display: flex;
        @media (max-width: 860px) {
            flex-direction: column;
            align-items: flex-end;
        }
        @media (max-width: 670px) {
            align-items: center;
        }
        
    }
    &-addres {
        padding-right: 40px;
        margin-bottom: 0;
        font: var(--middle-regular);
        font-size: 22px;
        color: var(--color-white);
        @media (max-width: 860px) {
            padding-right: 0;
            padding-bottom: 5px;
        }
        @media (max-width: 361px) {
            font-size: 18px;
        }   
    }
    &-tel {
        font-size: 22px;
        font: var(--middle-regular);
    }
    @media (max-width: 361px) {
        font-size: 18px;
    }   
}
