.hero {
    left: 0;
    top: 0;
    padding-bottom: 50px;
    
    &-title {
        font: var(--high-bold);
        color: var(--color-white);
        font-size: 40px;
        max-width: 800px;
        margin: 0;
        padding-left: 40px;
        padding-bottom: 70px;
        @media (max-width: 670px) {
            padding-left: 0px;
            font-size: 32px;
            text-align: center;
        }
        @media (max-width: 550px) {
            font-size: 28px;
            text-align: center;
        }
    }
    &-img {
        fill: var(--color-white);
        display: block;
	    margin: 0;
	    margin-bottom: 30px;
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        margin: 0;
        padding: 0;
        color: var(--color-white);
        padding-bottom: 50px;
        @media (max-width: 670px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &-subtitle {
        font-size: 18px;
        font: var(--middle-regular);
        margin: 0 20px;
        @media (max-width: 670px) {
            margin: 0px;
        }
    }
    &-item:nth-child(even) {
        @media (max-width: 670px) {
            color: var(--color-pink);
        }
    }
    &-item {
        text-align: center;
        height: 70px;
        @media (max-width: 670px) {
            height: auto;
            margin-bottom: 20px;
        }
    }
    &-item:not(:last-child) {
        border-right: 2px solid white;
        @media (max-width: 670px) {
            border-right: 0px;
        }
    }
}