@charset "UTF-8";
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-main: #2e2e2e;
  --color-pink: #ff3d99;
  --color-pink-hover: #ff80bb;
  --font-family: "Gilroy", sans-serif;
  --high-bold: 700 30px / 140% var(--font-family);
  --middle-regular: 400 20px / 20px var(--font-family);
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.bg {
  left: 0;
  top: 0;
  background-attachment: fixed;
  background-image: url("../img/bg.png");
  background-color: var(--color-main);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.general-btn {
  display: block;
  width: 293px;
  height: 60px;
  border-radius: 30px;
  color: var(--color-white);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  font: var(--middle-regular);
  border-color: var(--color-pink);
  box-shadow: 0 0 40px 40px var(--color-pink) inset, 0 0 0 0 var(--color-pink);
  transition: all 150ms ease-in-out;
}

.general-btn:hover {
  box-shadow: 0 0 10px 0 var(--color-pink) inset, 0 0 10px 4px var(--color-pink);
}

.content {
  flex: 1 0 auto;
}

.header {
  left: 0;
  top: 0;
  padding: 50px 0 90px;
  width: 100%;
}
@media (max-width: 670px) {
  .header {
    padding-bottom: 30px;
  }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 670px) {
  .header-container {
    display: block;
  }
}
.header-logo {
  font: var(--high-bold);
  color: var(--color-pink);
  font-size: 48px;
  padding-left: 40px;
  transform: translateY(-10px);
  padding-right: 20px;
}
@media (max-width: 860px) {
  .header-logo {
    transform: translateY(-5px);
  }
}
@media (max-width: 670px) {
  .header-logo {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}
.header-content {
  display: flex;
}
@media (max-width: 860px) {
  .header-content {
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (max-width: 670px) {
  .header-content {
    align-items: center;
  }
}
.header-addres {
  padding-right: 40px;
  margin-bottom: 0;
  font: var(--middle-regular);
  font-size: 22px;
  color: var(--color-white);
}
@media (max-width: 860px) {
  .header-addres {
    padding-right: 0;
    padding-bottom: 5px;
  }
}
@media (max-width: 361px) {
  .header-addres {
    font-size: 18px;
  }
}
.header-tel {
  font-size: 22px;
  font: var(--middle-regular);
}
@media (max-width: 361px) {
  .header {
    font-size: 18px;
  }
}

.hero {
  left: 0;
  top: 0;
  padding-bottom: 50px;
}
.hero-title {
  font: var(--high-bold);
  color: var(--color-white);
  font-size: 40px;
  max-width: 800px;
  margin: 0;
  padding-left: 40px;
  padding-bottom: 70px;
}
@media (max-width: 670px) {
  .hero-title {
    padding-left: 0px;
    font-size: 32px;
    text-align: center;
  }
}
@media (max-width: 550px) {
  .hero-title {
    font-size: 28px;
    text-align: center;
  }
}
.hero-img {
  fill: var(--color-white);
  display: block;
  margin: 0;
  margin-bottom: 30px;
}
.hero-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin: 0;
  padding: 0;
  color: var(--color-white);
  padding-bottom: 50px;
}
@media (max-width: 670px) {
  .hero-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.hero-subtitle {
  font-size: 18px;
  font: var(--middle-regular);
  margin: 0 20px;
}
@media (max-width: 670px) {
  .hero-subtitle {
    margin: 0px;
  }
}
@media (max-width: 670px) {
  .hero-item:nth-child(even) {
    color: var(--color-pink);
  }
}
.hero-item {
  text-align: center;
  height: 70px;
}
@media (max-width: 670px) {
  .hero-item {
    height: auto;
    margin-bottom: 20px;
  }
}
.hero-item:not(:last-child) {
  border-right: 2px solid white;
}
@media (max-width: 670px) {
  .hero-item:not(:last-child) {
    border-right: 0px;
  }
}

.about {
  left: 0;
  top: 0;
  padding: 50px 0;
  background-color: var(--color-white);
  position: relative;
}
@media (max-width: 670px) {
  .about {
    padding-bottom: 10px;
  }
}
.about-title {
  font: var(--high-bold);
  color: var(--color-black);
  font-size: 30px;
  margin: 0;
  padding-left: 40px;
  padding-bottom: 90px;
}
@media (max-width: 968px) {
  .about-title {
    text-align: center;
    padding-bottom: 30px;
    padding-left: 0px;
  }
}
.about-title-pink {
  color: var(--color-pink);
}
.about-list {
  font: var(--middle-regular);
  padding-left: 40px;
  list-style: disc;
}
.about-item:nth-child(even) {
  color: var(--color-pink);
}
.about-item {
  padding-bottom: 40px;
  font-size: 24px;
  line-height: 1.5;
}
.about-item__circle {
  display: none;
  fill: var(--color-pink);
}
.about-bg {
  position: absolute;
  top: -88px;
  right: 90px;
  height: 700px;
}
@media (max-width: 1040px) {
  .about-bg {
    right: 10px;
  }
}
@media (max-width: 968px) {
  .about-bg {
    display: none;
  }
}
.about-left {
  position: relative;
}

.bikes {
  left: 0;
  top: 0;
  padding-bottom: 50px;
  background-color: var(--color-white);
}
.bikes-title {
  margin: 0 auto;
  color: var(--color-black);
  font: var(--high-bold);
  text-align: center;
  max-width: 800px;
  padding: 40px 0;
}
.bikes-descr {
  text-transform: uppercase;
  text-align: center;
  font: var(--high-bold);
  color: var(--color-black);
  font-size: 24px;
  margin: auto;
}
.bikes-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-height: 300px;
  transition: all 1s ease-out;
}
.bikes-img:hover {
  transform: scale(1.1);
}
@media (max-width: 800px) {
  .bikes-img:hover {
    transform: none;
  }
}
.bikes-title-pink {
  color: var(--color-pink);
}
.bikes-list {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 30px;
  padding-bottom: 40px;
}
@media (max-width: 800px) {
  .bikes-list {
    display: none;
  }
}
.bikes-item {
  display: flex;
  flex-direction: column;
}

.slider {
  position: relative;
}
@media (min-width: 801px) {
  .slider {
    display: none;
  }
}

.slider__container {
  overflow: hidden;
}

.slider__wrapper {
  overflow: hidden;
}

.slider__items {
  display: flex;
  transition: transform 0.5s ease;
}

.slider_disable-transition {
  transition: none;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* кнопки влево и вправо */
.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
}

.slider__control_hide {
  display: none;
}

.slider__control[data-slide=prev] {
  left: 0;
}

.slider__control[data-slide=next] {
  right: 0;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background: rgba(0, 0, 0, 0.3);
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control[data-slide=prev]::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control[data-slide=next]::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* индикаторы */
.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.slider__indicators li.active {
  background-color: rgba(255, 255, 255, 0.9);
}

@media (min-width: 768px) {
  .slider__item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.price {
  font: var(--middle-regular);
  color: var(--color-white);
  left: 0;
  top: 0;
  padding-left: 40px;
  padding: 50px 0;
}
.price-wrapper {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}
@media (max-width: 640px) {
  .price-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.price-right {
  max-width: 45%;
}
@media (max-width: 640px) {
  .price-right {
    max-width: 100%;
    text-align: center;
  }
}
.price-left {
  padding-right: 10px;
}
@media (max-width: 640px) {
  .price-left {
    text-align: center;
  }
}
@media (max-width: 640px) {
  .price-item:nth-child(even) {
    color: var(--color-pink);
  }
}
.price-title {
  font: var(--high-bold);
}
.price-item {
  font-size: 24px;
  padding-bottom: 40px;
}
.price-title-pink {
  color: var(--color-pink);
}
.price-descr {
  font-size: 24px;
  border: 2px solid white;
  padding: 5px;
}

.footer {
  left: 0;
  top: 0;
  padding-top: 40px;
  padding-bottom: 60px;
  flex-shrink: 0;
}
.footer-container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
.footer-addres {
  display: block;
  margin-bottom: 0;
  font: var(--middle-regular);
  font-size: 22px;
  color: var(--color-white);
  text-align: center;
}
.footer-content {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
@media (max-width: 470px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
}

.social {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding-left: 20px;
}
.social-item:not(:last-child) {
  margin-right: 11px;
}
.social-link {
  display: block;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  color: var(--color-pink);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px auto;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-color: var(--color-pink);
  box-shadow: 0 0 40px 40px var(--color-pink) inset, 0 0 0 0 var(--color-pink);
  transition: all 150ms ease-in-out;
}
.social-link:hover {
  box-shadow: 0 0 10px 0 var(--color-pink) inset, 0 0 10px 4px var(--color-pink);
}
.social-logo {
  width: 30px;
  height: 30px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 55%);
  fill: var(--color-white);
}
/*# sourceMappingURL=main.css.map */
