<section class="bikes fadeInRight wow">
    <div class="container">
      <h2 class="bikes-title">Наша <span class="bikes-title-pink">мототехника</span></h2>
            <ul class="bikes-list list-reset">
              <li class="bikes-item">
                <img src="img/ataki.png" class="bikes-img" alt="">
                <p class="bikes-descr">Ataki 250</p></li>
              <li class="bikes-item">
                <img src="img/kayo.png" class="bikes-img" alt="">
                <p class="bikes-descr">KAYO K1</p></li>
              <li class="bikes-item">
                <img src="img/regulmoto.png" class="bikes-img" alt="">
                <p class="bikes-descr">REGULMOTO ZR250</p></li>
              <li class="bikes-item">
                <img src="img/cfmoto.png" class="bikes-img" alt="">
                <p class="bikes-descr">CFMOTO</p></li>
            </ul>
      <div class="slider">
          <div class="slider__wrapper">
            <div class="slider__items">
              <div class="slider__item">
                <img src="img/ataki.png" class="bikes-img" alt="">
                <p class="bikes-descr">Ataki 250</p></li>
              </div>
              <div class="slider__item">
                <img src="img/kayo.png" class="bikes-img" alt="">
                <p class="bikes-descr">KAYO K1</p></li>
              </div>
              <div class="slider__item">
                <img src="img/regulmoto.png" class="bikes-img" alt="">
                <p class="bikes-descr">REGULMOTO ZR250</p></li>
              </div>
              <div class="slider__item">
                <img src="img/cfmoto.png" class="bikes-img" alt="">
                <p class="bikes-descr">CFMOTO</p></li>
              </div>
            </div>
          </div>
          <!-- Кнопки -->
          <a href="#" class="slider__control" data-slide="prev"></a>
          <a href="#" class="slider__control" data-slide="next"></a>
      </div>
    </div>
  </section>
            