<section class="hero fadeInRight wow">
    <div class="container">
             <h1 class="hero-title">Аренда внедорожной техники,<br> ремонт и обслуживание,<br> обучение</h1>
        <div class="hero-list">
            <div class="hero-item">
                <p class="hero-subtitle">Мы&nbsp;поможем, если у&nbsp;тебя нет навыков</p>       
            </div>
            <div class="hero-item">
                <p class="hero-subtitle">Гарантия хорошего настроения</p>
            </div>
            <div class="hero-item">
                <p class="hero-subtitle">Просто катайся, не&nbsp;думай о&nbsp;хранении</p>
            </div>
            <div class="hero-item">
                <p class="hero-subtitle">Водительское удостоверение не&nbsp;требуется</p>
            </div>
        </div>
        <a href="tel:+79207111811"><button class="hero-btn btn-reset general-btn">Позвонить нам</button></a>
    </div>
</section>