<section class="price">
    <div class="container">
        <div class="price-wrapper fadeInRight wow">
            <div class="price-left">
                <p class="price-title">Это <span class="price-title-pink">безопасно?</span></p>
                <ul class="price-list list-reset">
                    <li class="price-item"><svg class="about-item__circle" version="1.1" id="Layer_1" x="0px" y="0px"
                        width="13px" height="13px" viewBox="0 0 120 120" xml:space="preserve">
                        <circle cx="60" cy="60.834" r="54.167"/>
                        </svg>
                        Выдается защитная экипировка</li>
                    <li class="price-item"><svg class="about-item__circle" version="1.1" id="Layer_1" x="0px" y="0px"
                        width="13px" height="13px" viewBox="0 0 120 120" xml:space="preserve">
                        <circle cx="60" cy="60.834" r="54.167"/>
                        </svg>
                        Проводится полный инструктаж</li>
                    <li class="price-item"><svg class="about-item__circle" version="1.1" id="Layer_1" x="0px" y="0px"
                        width="13px" height="13px" viewBox="0 0 120 120" xml:space="preserve">
                        <circle cx="60" cy="60.834" r="54.167"/>
                        </svg>
                        Питбайк нетяжелый</li>
                    <li class="price-item"><svg class="about-item__circle" version="1.1" id="Layer_1" x="0px" y="0px"
                        width="13px" height="13px" viewBox="0 0 120 120" xml:space="preserve">
                        <circle cx="60" cy="60.834" r="54.167"/>
                        </svg>
                        Эндуро невысокий - ноги легко достают до земли</li>
                    <li class="price-item"><svg class="about-item__circle" version="1.1" id="Layer_1" x="0px" y="0px"
                        width="13px" height="13px" viewBox="0 0 120 120" xml:space="preserve">
                        <circle cx="60" cy="60.834" r="54.167"/>
                        </svg>
                        Маршрут выбирается исходя из умения</li>
                </ul>
            </div>
            <div class="price-right">
                <p class="price-title">У нас <span class="price-title-pink">лучшие</span> цены</p>
                <p class="price-descr">Прокат эндуро: от 1700 руб./тур*</p>
                <p class="price-descr">Прокат квадроциклов: от 3500 руб./тур*</p>
                <p class="price-subtitle">*время одного тура зависит от стиля езды<br>(от 1,5 до 2 часов)</p>
                <p class="price-subtitle">**цены на конкретные маршруты и мототехнику уточняйте по телефону</p>
            </div>
        </div>
    </div>
</section>