// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-main: #2e2e2e;
  --color-pink: #ff3d99;
  --color-pink-hover: #ff80bb;


  // шрифты
  --font-family: "Gilroy", sans-serif;
  --high-bold: 700 30px / 140% var(--font-family);
  --middle-regular: 400 20px / 20px var(--font-family);
}